## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns={'EIN', 'NAME'})

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
app_numbers = application_df['APPLICATION_TYPE'].value_counts()
app_numbers

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace= list(app_numbers[app_numbers < 1000].index)

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_numbers = application_df["CLASSIFICATION"].value_counts()
classification_numbers

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C6100        1
C1236        1
C2170        1
C2561        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_numbers = classification_numbers[classification_numbers >= 1]
classification_numbers

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C6100        1
C1236        1
C2170        1
C2561        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_numbers[classification_numbers < 1800].index)

In [11]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(cls, "Other")
    
# Check to make sure bucketing was successful
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df=pd.get_dummies(application_df)

In [13]:
# Split our preprocessed data into our features and target arrays
X=dummy_df.drop(columns={'IS_SUCCESSFUL'}, axis=1).values
y=dummy_df['IS_SUCCESSFUL'].values.reshape(-1, 1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=14)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 25
# hidden_nodes_layer3 = 25

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))  # binary clasifier -> 1 output neuron/sigmoid activation

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                2050

 dense_1 (Dense)             (None, 25)                1275

 dense_2 (Dense)             (None, 1)                 26

=================================================================
Total params: 3,351
Trainable params: 3,351
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
optimizer = tf.keras.optimizers.Adam(learning_rate=0.001)
nn.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])

In [17]:
# Add model weight checkpoints during training
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path="checkpoints/weights.{epoch}.hdf5"

# Create callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              period=5,
                              )

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20,callbacks=[cp_callback])

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.5766 - accuracy: 0.7200
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7303
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7310
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7314
Epoch 5/20
788/804 [============================>.] - ETA: 0s - loss: 0.5515 - accuracy: 0.7334
Epoch 00005: saving model to checkpoints\weights.5.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7331
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7336
Epoch 7/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7334
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7332
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7335
Epoch 10/20
792/804 [============================>.] - ETA: 0s - loss: 0.5488 - accuracy: 0.7345
Epoch 00010: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7341
Epoch 11/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7353
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7341
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7335
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7352
Epoch 15/20
785/804 [============================>.] - ETA: 0s - loss: 0.5465 - accuracy: 0.7360
Epoch 00015: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7357
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7348
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7360
Epoch 18/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7351
Epoch 19/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 20/20
794/804 [============================>.] - ETA: 0s - loss: 0.5454 - accuracy: 0.7360 ETA: 0s - loss: 0.5454 - accu
Epoch 00020: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7357

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5602 - accuracy: 0.7236 - 604ms/epoch - 2ms/step
Loss: 0.560229480266571, Accuracy: 0.7236151695251465

In [21]:
# Export our model to HDF5 file
nn.save("Alphabet_Soup_Charity.h5")

# Results
#### Model did not achieve 75% or higher.  Making 3 more attempts in other notebook.